@{
    ViewData["Title"] = "Confirmação apagar o Contato";
}

<div class="text-center">
    <h3>Realmente Deseja apagar o contato(Irineu Voce nao sabe nem eu)</h3>

    <a class="btn btn-primary btn-lg" role="button" asp-controller="Contato" asp-action="Index">Cancelar Exclusão</a>
    <a class="btn btn-danger btn-lg" role="button">Confirmar Exclusão</a>
</div>

